* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #15273a;
}

.game-container {
  text-align: center;
  background-color: #333a46;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 360px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  pointer-events: none;
  opacity: 0.3;
}

.enabledBoard {
  pointer-events: auto;
}

.disabled {
  opacity: 0.5; /* Adjust opacity as needed */
  pointer-events: none;
}
.cell:hover {
  background-color: #ccc;
}

.status {
  margin-top: 20px;
}

.status-text {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.restart-button {
  padding: 10px 20px;
  font-size: 16px;
  /* background-color: dodgerblue; */
  /* color: white; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.difficulty-container {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-family: "sans-serif", "Lucida Sans Regular", "Lucida Grande";
}

/* .start-button:hover {
  color: rgb(20, 161, 46);
} */

.easy {
  background-color: rgb(34, 201, 50);
}
.medium {
  background-color: rgb(222, 114, 12);
}
.hard {
  background-color: rgb(182, 44, 20);
}
button:hover {
  /* background-color: rgb(45, 67, 139); */
  background-color: rgb(27, 118, 198);
  cursor: pointer;
  transition: background-color 0.5s ease;
  /* color: white; */
}
.difficulty-container {
  margin-bottom: 5px;
}
.timer {
  margin-top: 10px;
}
#timer {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #4caf50; /* Green color */
  border: 2px solid #4caf50;
  border-radius: 8px;
  display: inline-block;
  padding: 15px 25px;
  background-color: #f9f9f9; /* Light background */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
